<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>The Wall</title>
    <meta name="description" content="Coding Dojo Assignment - Python Course">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 		<!-- Latest compiled and minified CSS -->
 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 		<!-- Latest compiled and minified JavaScript -->
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
    <div class="container" style="width: 800px;">
      <h1 style="text-align: center; margin: 30px;">Welcome to the Wall</h1>
<!-- alert messages -->
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-danger">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
<!-- registration form -->
      <section style="display: inline-block; width: 400px;">
        <h2>Register</h2>
        <form action="/create_user" method='POST'>
        <!-- first name -->
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="first_name" id="first_name" value="{{ session['first_name'] }}">
          </div>
        <!-- last name -->
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="last_name" id="last_name" value="{{ session['last_name'] }}">
          </div>
        <!-- email -->
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="new_email" id="new_email" value="{{ session['new_email'] }}">
          </div>
        <!-- password -->
          <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" name="password" id="password">
          </div>
        <!-- password confirmation -->
          <div class="form-group">
            <label>Confirm Password</label>
            <input type="text" class="form-control" name="confirm_pw" id="confirm_pw">
          </div>
          <input type="submit" class="btn btn-primary" style="float: right;" value="Register">
        </form>
      </section>

<!-- login section -->
      <section style="display: inline-block; width: 300px; vertical-align: top; float: right">
        <h2>Login</h2>
        <form action="/login" method="POST">
        <!-- email -->
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" id="email" value="{{ session['email'] }}">
          </div>
        <!-- password -->
          <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" name="password" id="password">
          </div>
          <input type="submit" class="btn btn-primary" style="float: right;" value="Login">
        </form>
      </section>

    </div>
	</body>
</html>
