<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	</head>
	<body>
    <h2>This is my form page!</h2>
    <form>
      <label>First Name: </label>
      <input type="text" name="firstname">
      <label>Last Name</label>
      <input type="text" name="lastname">
      <input id="btn" type="submit" name="submit" value="Click Me!">
    </form>
	</body>
</html>
